body {
	color: #222;
	background-color: white;
}

h2.index-section-header{
	font-family: 'Architects Daughter', cursive;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 0;
}

.title-wrapper {
	font-size: 300%;
	padding-top: 80px;
	width: 100%;
	background-image: url("../Images/tech-blur.jpg");
	color: white;
}

.title-wrapper .title-content{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%);
}

.title-wrapper .title-content .word-rewrite li{
	font-weight: 600;

}

.title-wrapper .title-content p{
	font-size: 50%;
	margin-top: 50px;
	margin-bottom: 38px;
	text-align: justify;
}

#sign-me-up{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	border: none;
	padding: 10px 16px;
}

#sign-me-up-wrapper:hover{
	text-decoration: none;
}

.word-rewrite{
	display: inline;
	padding-left: 0;
}

.word-rewrite:after{
	content: "|";
	font-weight: lighter;
	font-size: 90%;
	transform: translateX(-4px);
}

.word-rewrite.waiting:after{
	content: "|";
	font-weight: lighter;
	font-size: 90%;
	-webkit-animation: 700ms blink step-end infinite; -moz-animation: 1s blink step-end infinite; -ms-animation: 1s blink step-end infinite; -o-animation: 1s blink step-end infinite;
  	animation: 700ms blink step-end infinite;
}
@keyframes "blink" { from, to { color: transparent; } 50% { color: inherit; } }
@-moz-keyframes blink { from, to { color: transparent; } 50% { color: inherit; } }
@-webkit-keyframes "blink" { from, to { color: transparent; } 50% { color: inherit; } }
@-ms-keyframes "blink" { from, to { color: transparent; } 50% { color: inherit; } }
@-o-keyframes "blink" { from, to { color: transparent; } 50% { color: inherit; } }


.word-rewrite li{
	display: none;
}

#services-wrapper .services-header .services-icon{
	height: 40px;
	vertical-align: middle;
}



#quote-wall {
	background-color: #d8d8d8;
	padding-top: 70px;
	padding-bottom: 70px;
}

#quote-wall blockquote{
	font-family: Georgia, serif;
	border: none;
	font-style: italic;
	padding-left: 100px;
	padding-right: 100px;
}

#quote-wall blockquote p.quote{
	font-size: 150%;
}

#quote-wall blockquote p.citation{
	font-size: 180%;
	float: right;
}

#quote-wall blockquote::before{
	content: "\201c";
	top: -20px;
	left: -10px;
}

#quote-wall blockquote::after{
	content: "\201d";
	top: -20px;
	right: 10px;
}

#quote-wall blockquote::before, #quote-wall blockquote::after{
	position: absolute;
	font-size: 200px;
	line-height: 1;
}


#team-content{
	margin-top: 100px;
	margin-bottom: 100px;
}

#team-wrapper .profile-wrapper{
	padding: 0 2%;
}

#team-wrapper .profile-wrapper .profile-content{
	box-shadow: 0 0 8px #888;
	position: relative;
}

#team-wrapper .profile-wrapper .profile-img{
	width: 100%;
}

#team-wrapper .profile-wrapper .profile-body{
	background-color: #ddd;
	padding: 4%;
}

#team-wrapper .profile-body p, #team-wrapper .profile-body h2 {
	margin: 0;
}

#team-wrapper .profile-body h2{
	font-size: 20px;
}

#team-wrapper .profile-body hr{
	margin: 4px 0;
}

#team-wrapper .profile-contact .glyphicon {
	vertical-align: text-top;
}

#profile-you .profile-content:hover{
	cursor: pointer;
}

#profile-you .profile-content.profile-hover::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .3);
}